@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "@fontsource/be-vietnam-pro";

@import "@fontsource/abril-fatface";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: aileron, sans-serif;
    font-weight: lighter;
}

h1 {
    font-family: aileron, sans-serif;
    font-weight: lighter;
}

h2 {
    font-family: aileron, sans-serif;
    font-weight: lighter;
}

h4 {
    font-family: aileron, sans-serif;
}

span {
    font-family: "Abril Fatface", cursive;
    font-style: italic;
}